# Rust build artifacts
../target/
target/
assets/.DS_Store
**/*.bin
**/**/*.dat
database
target/*
code/.DS_Store
.DS_Store
design.pdf
proposal.pdf

# ignore any .venv anywhere
.venv/
**/.venv/


rookdb_***.pdf
rookdb_***.txt
